$body-background-color: #2B2A33;
$header-footer-background-color: #42414D;
$font-color: #CCCCCC;
$selected-font-color: #6E7681;
$link-font-color: white;
$hover-link-font-color: lightslategray;
$visited-link-font-color: silver;